.main-content
  .header
    .main-header__left-box
      .main-header__left-box__current-group
        aa
      .main-header__left-box__member-list
        Menber
      .main-header__left-box__member-list__member
        aa
    .main-header__edit-btn
      Edit
  .contents 
    .messages
      .message
        .message__upper-info__talker
          aa
        .message__upper-info__date
          2020/01/04(sat)15:36:00
      .message__text
        a
  .footer
    .input-box
      .input-box__main
        .input-box__text
          %input{placeholder: "type a message", class:"type-a__message"}
        .input-box__image
          %label{class: "contents__btn contents__btn--new-group"}
            = icon('far', 'image',  class: "contents__btn--icon")
            %input{type: "file", class: "file"}
      .submit-btn
        %input{type: "submit", value: "Sent", class: "submit" }