.side-main {
  float: left;
  width: 300px;
}

.side-bar {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
    .side_header {
      height: 20px;
      width: 260px;
      margin: 0 auto;
      .side_header_box{
        display: flex;
        justify-content: space-between;
        .side-header__box__user-name {
          font-weight: bold;
          color: #ffffff;
        }
        .side-header__menu__box {
          display: block;
          height: 20px;
          width :30px;
          font-size:14px;
          display: flex;
          text-align: right;
          line-height: 20px;
          font-weight: bold;
        .fa-edit{
          color: #ffffff;
          padding-right:20px;
          width: 5px;
          }
        .fa-cog{
          color: #ffffff;
          }          
        }
      }
    }
}

.side-contents {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  text-decoration: none;
  overflow: scroll;
}  
  .groups {
    height: 91px;
    width: 260px;
    margin: 0 auto;
  }
    .group__name {
      font-size: 15px;
      padding-top: 20px;
      padding-left: 20px;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
    }
    .group__message {
      font-size: 11px;
      padding-top: 5px;
      padding-left: 20px;
      padding-bottom: 40px;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
    }

a {
  text-decoration: none;
}